.integerfact {
  background: rgb(24, 24, 24);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1em;
  margin-top: 5em;
}

.integerfact input {
  margin: 1em 2em;
  padding: 0.5em 0.5em;
  font-size: 1em;
  caret-color: green;
  background: rgb(22, 1, 51);
  color: green;
  width: 50%;
}

.integerfact h2 {
  color: #ccc;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1em;
}
