nav {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 50px;
  color: rgb(14, 245, 14);
  font-weight: bold;
}

.routes {
  display: flex;
  gap: 30px;
  margin-right: 70px;
}

.routes a {
  text-decoration: none;
  font-size: 1.3rem;
  color: #fff;
  font-weight: bold;
}

.routes a:hover,
.routes a:focus {
  color: rgb(14, 245, 14);
}
