* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(26, 25, 25);
}

.calc-container {
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  width: 80%;
}

.calc-input {
  text-align: end;
  padding: 30px;
  background-color: rgb(241, 238, 238);
  font-weight: bold;
  font-size: 1.5rem;
}

.calc-keys {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.digits {
  display: grid;
  grid-template-columns: auto auto auto;
}

.digits button {
  height: 4.5rem;
  font-size: 1.5rem;
  background-color: rgb(136, 136, 136);
  cursor: pointer;
}

.operators button {
  margin: 1px;
  background-color: orange;
  border: 1px solid #aaa;
  font-size: 1.5rem;
  cursor: pointer;
}

.digits button:hover {
  background-color: #ccc;
}

.operators {
  display: grid;
  grid-template-rows: auto auto auto auto;
}

.operators button:hover {
  background-color: rgb(225, 173, 76);
}

.digits button:nth-last-child(2) {
  grid-column: span 2;
}
